{
  "AWSTemplateFormatVersion": "2010-09-09",
  "Description": "Environment setup (static resources)",

  "Parameters": {
    "PasswordGeneratorArn": {
      "Type": "String"
    }
  },

  "Resources": {
    "GeneratePassword": {
      "Type": "Custom::PasswordGenerator",
      "Properties": {
        "ServiceToken": {"Ref": "PasswordGeneratorArn"}
      }
    }
  },

  "Outputs": {
    "Password": {
      "Value": {"Fn::GetAtt": ["GeneratePassword", "Password"]}
    }
  }

}
